[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:ParadoxPD/neovim-config.git
[submodule "zsh/zsh-autocomplete"]
	path = zsh/zsh-autocomplete
	url = git@github.com:ParadoxPD/zsh-autocomplete.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = git@github.com:ParadoxPD/zsh-syntax-highlighting.git
