/android_sdk
/flutter
/go
/include
/lib64
/neovim
/node
/php
/rust
/zig
/bin
/.opam
/.sdkman
/.tmux


/config/BraveSoftware
/config/google-chrome
/config/goa-1.0
/config/libaccounts-glib
/config/Proton Pass
/config/ibus
/config/obsidian
/config/libreoffice
/config/evolution
/config/enchant
/config/composer
/config/Code
/config/PopSQL
/config/balenaEtcher
/config/.android
/config/go

